html
{
    min-height: 100%;
}

body
{
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 16px;

    overflow: hidden;

    height: 100%;
    margin: 0;
    margin: 0;
    padding: 0;

    color: #333;
    background-color: whitesmoke;
}

canvas
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

textarea
{
    position: absolute;
    top: 8px;
    left: 8px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 280px;
    height: 6rem;

    border: none;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: 0 2px 6px #999;
}

h1
{
    font-size: 2rem;

    margin: 0;
    padding: 0;
}

input[type='range']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

footer
{
    font-size: 14px;

    text-align: center;

    color: #777;
}

footer > a
{
    color: #777;
}

.sidebar
{
    position: absolute;
    top: 8px;
    right: 8px;

    text-align: right;
}

#vertex-info
{
    position: absolute;
    top: -1000px;
    left: -1000px;

    padding: 5px 8px;

    border-radius: 6px;
    background-color: rgba(220, 220, 220, .8);
}

.toggle-combo
{
    display: inline-block;

    padding: 4px;

    border-radius: 2px;
    box-shadow: 0 2px 6px #999;
}

.toggle-combo > input
{
    position: absolute;

    visibility: hidden;

    margin-left: -999999px;
}

.toggle-combo > label
{
    display: inline;

    padding: 1px;

    cursor: pointer;
    -webkit-user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;

    outline: none;
}

.toggle-combo > input:checked + label
{
    border-bottom: 2px solid #333;
}
